body {
  background-color: $backgroundColor;
  font-family: $default-font;
  color: $normalText;

  &::-webkit-scrollbar {
    display: none;
  }
}

.wrapper {
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;

  @media (min-width: 1280px) {
    max-width: 1280px;
    margin: auto;
  }
}
