.backgroundPage {
  &__shape1 {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -3;
  }
  &__shape2 {
    position: absolute;
    top: 40%;
    right: 0px;
    z-index: -3;
  }
  &__shape3 {
    position: absolute;
    bottom: 0;
    z-index: -3;
  }
}
