.contact {
  height: 100vh;
  display: grid;
  grid-template-rows: 15% 18% 16% 51%;
  justify-content: center;

  &__mainTitle {
    align-self: center;
    text-align: justify;
    font-weight: 600;
    font-size: 40px;

    color: $titleTextOne;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      -3px -3px 0 rgba(255, 255, 255, 0.5);
    span {
      color: $titleTextTwo;
    }
  }

  &__hamburger {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__info {
    justify-self: center;
    text-align: justify;
    padding: 10px 10px;
    width: 270px;
    height: 75px;
    border-radius: 25px;
    background: $texbackground;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    &-text {
      line-height: 1.2;
      font-size: 15px;
    }
  }

  &__social {
    display: grid;
    grid-template-areas:
      'title title'
      'linkedin git';
    grid-template-rows: 30% 70%;
    justify-items: center;

    &-title {
      grid-area: title;
      text-align: center;
      font-size: 25px;
      color: $titleTextOne;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &-in {
      grid-area: linkedin;
    }

    &-git {
      grid-area: git;
    }

    img {
      align-self: center;
      margin-top: 5px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
}
