.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &-title {
    margin-bottom: 1rem;
    @include smallTitle;
    font-size: 1.625rem;

    @media (min-width: 360px) and (min-height: 568px) {
      font-size: 2rem;
    }
    @media (min-width: 390px) and (min-height: 568px) {
      font-size: 2.25rem;
    }
    @media (min-width: 428px) and (min-height: 568px) {
      font-size: 2.5rem;
    }
    @media (min-width: 820px) and (min-height: 568px) {
      font-size: 2.75rem;
    }
    @media (min-width: 1024px) {
      font-size: 3rem;
    }
    @media (min-width: 1280px) {
      font-size: 3.25rem;
    }
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-input,
  &-textarea {
    width: 250px;
    height: 1.625rem;
    margin: 5px 0;
    padding: 0 5px;
    border: none;
    border-radius: 8px;
    color: $normalText;
    font-family: $default-font;
    background-color: $texbackground;

    @media (min-width: 375px) {
      height: 2rem;
    }
    @media (min-width: 390px) {
      width: 278px;
    }
    @media (min-width: 640px) {
      width: 308px;
    }
    @media (min-width: 768px) {
      width: 400px;
    }

    &::placeholder {
      font-size: 0.75rem;
      color: #555;
    }

    &:focus {
      outline: none;
    }
  }

  &-textarea {
    padding-top: 5px;
    flex-grow: 1;
    min-height: 2.5rem;
    resize: none;

    @media (min-width: 375px) {
      min-height: 5rem;
    }
    @media (min-width: 768px) {
      min-height: 10rem;
    }
  }

  &-error {
    width: 250px;
    font-size: 0.875rem;
    color: #cc0000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &-success {
    font-size: 1.125rem;
    color: #008000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &-submit {
    margin: 0.625rem 0;
    @include btn;
  }
}
