.contact__container {
  display: grid;
  grid-template-rows: 10% 85%;

  &-title {
    align-self: center;
    text-align: center;
    font-size: 25px;
    color: $titleTextOne;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-input,
  &-textarea {
    width: 240px;
    height: 25px;
    margin-top: 5px;
    padding: 0 5px;
    border: none;
    border-radius: 8px;
    color: $normalText;
    font-family: $default-font;
    background-color: $texbackground;

    &::placeholder {
      font-size: 12px;
      color: #555;
    }

    &:focus {
      outline: none;
    }
  }

  &-textarea {
    padding-top: 5px;
    flex-grow: 1;
    resize: none;
  }

  &-error {
    width: 250px;
    font-size: 14px;
    color: #cc0000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &-success {
    font-size: 18px;
    color: #008000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100px;
    height: 45px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    border-radius: 10px;
    color: $normalText;
    font-family: $default-font;
    border: 1px solid $titleTextTwo;
    background-color: #df9f7c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
}
