.contact__container {
  display: grid;
  margin: 0 5%;
  @include mobileM {
    margin: 0 8%;
  }
  @include tabletS {
    margin: 0 20%;
  }
  @include tabletM {
    margin: 0 15%;
  }
  @include desktopS {
    margin: 0 28%;
  }

  &-title {
    font-size: 25px;
    @include smallTitle;
    @include mobileM {
      font-size: 28px;
    }
    @include mobileL {
      font-size: 30px;
    }
    @include mobileX {
      margin-bottom: 10px;
      font-size: 34px;
    }
    @include tabletS {
      font-size: 26px;
      margin: 10px 0;
    }
    @include tabletM {
      font-size: 44px;
    }
    @include tabletMl {
      font-size: 29px;
      margin: 20px 0;
    }
    @include tabletL {
      font-size: 48px;
    }
    @include tabletLl {
      font-size: 40px;
    }
    @include desktopS {
      font-size: 44px;
    }
    @include desktopM {
      font-size: 46px;
    }
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-input,
  &-textarea {
    width: 80%;
    height: 25px;
    margin-top: 5px;
    padding: 0 5px;
    border: none;
    border-radius: 8px;
    color: $normalText;
    font-family: $default-font;
    background-color: $texbackground;

    &::placeholder {
      font-size: 12px;
      color: #555;

      @include tabletM {
        font-size: 13px;
      }
      @include tabletMl {
        font-size: 13px;
      }
      @include tabletL {
        font-size: 14px;
      }
      @include tabletLl {
        font-size: 14px;
      }
    }

    &:focus {
      outline: none;
    }

    @include tabletM {
      height: 32px;
    }
    @include tabletMl {
      height: 32px;
    }
    @include tabletL {
      height: 34px;
    }
    @include tabletLl {
      height: 34px;
    }
  }

  &-textarea {
    padding-top: 5px;
    flex-grow: 1;
    min-height: 50px;
    @include mobileM {
      min-height: 100px;
    }
    @include tabletS {
      min-height: 100px;
    }

    resize: none;
  }

  &-error {
    width: 250px;
    font-size: 14px;
    color: #cc0000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &-success {
    font-size: 18px;
    color: #008000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &-submit {
    margin-top: 10px;
    margin-bottom: 10px;
    @include btn;
    @include mobileL {
      width: 110px;
      height: 50px;
    }
    @include tabletS {
      width: 110px;
      height: 50px;
    }
    @include tabletM {
      font-size: 15px;
      width: 130px;
      height: 55px;
    }
    @include desktopS {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
