.mainPage {
  @include container;

  &__mainTitle {
    @include mainTitle();
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 0;
    justify-self: center;
    text-align: center;
    align-self: center;
    font-size: 1.375rem;
    max-width: 76%;
    min-height: 8.5rem;
    color: $titleTextOne;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media (min-width: 390px) and (min-height: 568px) {
      font-size: 1.75rem;
    }
    @media (min-width: 412px) and (min-height: 568px) {
      min-height: 9rem;
      font-size: 1.875rem;
    }
    @media (min-width: 428px) and (min-height: 568px) {
      min-height: 9.5rem;
      font-size: 2rem;
    }
    @media (min-width: 768px) and (min-height: 568px) {
      font-size: 2.25rem;
    }
    @media (min-width: 820px) and (min-height: 568px) {
      font-size: 2.5rem;
    }
    @media (min-width: 1280px) {
      font-size: 2.75rem;
    }
  }

  &__secondTitle {
    text-align: center;
    min-width: 18rem;
    margin: 0.75rem;
    font-weight: 700;
    font-size: 1.875rem;
    color: $titleTextOne;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media (min-width: 360px) and (min-height: 568px) {
      font-size: 2rem;
    }
    @media (min-width: 390px) and (min-height: 568px) {
      font-size: 2.25rem;
    }
    @media (min-width: 428px) and (min-height: 568px) {
      font-size: 2.5rem;
    }
    @media (min-width: 820px) and (min-height: 568px) {
      font-size: 2.75rem;
    }
    @media (min-width: 1024px) {
      font-size: 3rem;
    }
    @media (min-width: 1280px) {
      font-size: 3.25rem;
    }
  }

  &__nav {
    justify-self: center;
    align-self: center;
    min-width: 9.5rem;
    margin: 0.75rem 0;
  }

  &__footer {
    align-self: flex-start;
    font-size: 0.688rem;
    margin: 0.75rem 0;
    margin-left: 10%;

    @media (min-width: 375px) {
      font-size: 0.813rem;
    }
    @media (min-width: 412px) {
      font-size: 0.938rem;
    }
  }
}
