.projects__slider {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 414px;
    border-radius: 25px;
    background: $texbackground;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    a {
      text-decoration: none;
    }

    @media (min-width: 375px) {
      margin-bottom: 2rem;
    }
    @media (min-width: 568px) {
      width: 80%;
      height: 480px;
    }
    @media (min-width: 768px) {
      width: 70%;
      height: 520px;
    }
    @media (min-width: 1024px) {
      width: 65%;
      height: 560px;
    }
    @media (min-width: 1280px) {
      width: 60%;
      height: 580px;
    }
  }

  &-title {
    width: 100%;
    margin: 5px 0;
    text-align: center;
    font-size: 32px;
    color: $titleTextOne;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &-img {
    display: flex;
    justify-content: center;
    max-width: 80%;
    pointer-events: none;
    margin: 0.5rem 0;

    img {
      width: 100%;
      max-height: 380px;
      border-radius: 1.625rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      @media (min-width: 568px) {
        // width: 70%;
      }
    }
  }

  &-txt {
    width: 100%;
    margin: 0.5rem 0.625rem;
    font-size: 0.875rem;
    text-align: justify;

    @media (min-width: 568px) {
      margin: 1rem;
      font-size: 1rem;
    }
    @media (min-width: 768px) {
      font-size: 1.25rem;
    }
  }

  &-btnLeft,
  &-btnRight {
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;

    img {
      pointer-events: none;
    }
  }

  &-btnCode,
  &-btnSite {
    @include btn;
  }

  &-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.625rem 0;
  }

  &-dot {
    box-sizing: border-box;
    width: 1.125rem;
    height: 1.125rem;

    border-radius: 50%;
    background-color: #df9f7c;
    border: 1px solid $titleTextTwo;
    margin: 0 5px;
    cursor: pointer;

    &.active {
      border: 2px solid $titleTextTwo;
    }
  }
}
