.projects__slider {
  display: grid;
  justify-items: center;

  &-container {
    display: grid;
    grid-template-areas:
      'title title'
      'img img'
      'txt txt'
      'code site';
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 10px;
    margin: 0 24px;
    padding: 10px;
    min-width: 270px;
    min-height: 360px;
    border-radius: 25px;
    background: $texbackground;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    @include mobileM {
      margin: 0 38px;
      min-height: 400px;
    }
    @include mobileL {
      min-width: 80%;
      min-height: 450px;
    }
    @include mobileX {
      min-height: 510px;
    }
    @include tabletS {
      min-width: 60%;
      max-width: 60%;
      min-height: 360px;
    }
    @include tabletM {
      max-width: 60%;
      min-height: 690px;
    }
    @include tabletL {
      min-height: 720px;
    }
    @include tabletLl {
      min-height: 520px;
    }
    @include desktopS {
      min-width: 80%;
      min-height: 630px;
    }
    @include desktopM {
      min-height: 710px;
    }

    a {
      text-decoration: none;
    }
  }
  &-title {
    grid-area: title;
    margin: 5px 0;
    font-size: 32px;
    color: $titleTextOne;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include mobileM {
      font-size: 36px;
    }
    @include mobileX {
      font-size: 40px;
    }
    @include tabletS {
      margin-top: 20px;
      font-size: 34px;
    }
    @include tabletM {
      font-size: 52px;
    }
    @include tabletMl {
      font-size: 36px;
    }
    @include tabletL {
      font-size: 60px;
    }
    @include tabletLl {
      font-size: 42px;
    }
  }

  &-img {
    grid-area: img;
    max-width: 80%;
    img {
      width: 100%;
      border-radius: 25px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &-txt {
    grid-area: txt;
    margin: 0 10px;
    font-size: 12px;
    text-align: justify;
    margin: 0 20px;
    @include mobileM {
      font-size: 14px;
      @media (min-height: 750px) {
        font-size: 17px;
      }
    }
    @include mobileL {
      font-size: 16px;
    }
    @include mobileX {
      font-size: 17px;
      @media (min-height: 800px) {
        font-size: 19px;
      }
    }

    @include tabletM {
      margin: 0 40px;
      font-size: 24px;
      @media (min-height: 1000px) {
        margin: 0 50px;
        font-size: 25px;
      }
    }
    @include tabletMl {
      font-size: 16px;
    }
    @include tabletL {
      font-size: 28px;
    }
    @include tabletLl {
      font-size: 20px;
    }
    @include desktopS {
      font-size: 22px;
    }
    @include desktopM {
      font-size: 24px;
    }
  }

  &-btnLeft,
  &-btnRight {
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;

    img {
      pointer-events: none;
    }
  }

  &-btnCode {
    grid-area: code;
  }

  &-btnSite {
    grid-area: site;
  }

  &-btnCode,
  &-btnSite {
    @include btn;
    width: 90px;
    height: 40px;
    @include mobileM {
      width: 100px;
      height: 45px;
    }
    @include tabletM {
      font-size: 15px;
      width: 130px;
      height: 60px;
    }
    @include tabletM {
      width: 140px;
      height: 65px;
    }
    @include desktopS {
      width: 130px;
      height: 50px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }

  &-dot {
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    @include tabletM {
      width: 24px;
      height: 24px;
    }
    border-radius: 50%;
    background-color: #df9f7c;
    border: 1px solid $titleTextTwo;
    margin: 0 5px;
    cursor: pointer;

    &.active {
      border: 2px solid $titleTextTwo;
    }
  }
}
