.skills {
  min-height: 100vh;
  display: grid;

  &__mainTitle {
    @include mainTitle();
    text-align: justify;
    margin-bottom: 20px;
    @include mobileM {
      font-size: 45px;
    }
    @include mobileL {
      font-size: 50px;
    }
    @include tabletS {
      margin-bottom: 30px;
    }
    @include tabletM {
      font-size: 60px;
    }
    @include tabletMl {
      font-size: 50px;
    }
    @include tabletL {
      font-size: 70px;
    }
    @include tabletLl {
      font-size: 70px;
    }
  }

  &__hamburger {
    @include hamburger;
  }

  &__section {
    min-width: 275px;
    margin: 0 10px;
    @include mobileM {
      margin: 0 5%;
    }
    @include tabletS {
      margin: 0 15%;
    }
    @include tabletM {
      margin: 0 15%;
    }
    @include desktopS {
      margin: 0 25%;
    }

    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr;

      &-item {
        text-align: center;
        margin-bottom: -15px;
        @include mobileX {
          margin-bottom: 0;
        }
        @include tabletS {
          margin-bottom: -5px;
        }
        @include tabletMl {
          margin-bottom: 0;
        }

        &:nth-child(3n + 1) {
          grid-column-start: 1;
          grid-column-end: -1;
        }
        &:nth-child(3n + 2) {
          margin-right: 50px;
        }
        &:nth-child(3n + 3) {
          margin-left: 50px;
        }
        img {
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        p {
          font-size: 13px;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}
