@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

$background-mainColor: #ead9c9;
$default-font: 'Raleway', sans-serif;

$titleText-mainColor: #444;
$titleText-secondaryColor: #935b42;
$normalText-mainColor: #333;
