@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

$backgroundColor: #ead9c9;
$default-font: 'Raleway', sans-serif;

$titleTextOne: #444;
$titleTextTwo: #935b42;
$normalText: #333;

$texbackground: rgba(147, 92, 66, 0.6);
