@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

$backgroundColor: #ead9c9;
$default-font: 'Raleway', sans-serif;

$titleTextOne: #444;
$titleTextTwo: #935b42;
$normalText: #333;

$texbackground: rgba(147, 92, 66, 0.6);

@mixin container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  margin: 0.75rem;
}

@mixin mainTitle {
  align-self: flex-start;
  margin-left: 10%;
  font-weight: 600;
  font-size: 2.5rem;
  color: $titleTextOne;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    -3px -3px 0 rgba(255, 255, 255, 0.5);

  span {
    color: $titleTextTwo;
  }

  @media (min-width: 568px) {
    margin-bottom: 1rem;
  }
  @media (min-width: 820px) and (min-height: 568px) {
    font-size: 3rem;
  }
  @media (min-width: 1024px) {
    font-size: 3.5rem;
  }
}

@mixin smallTitle {
  color: $titleTextOne;
  align-self: center;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@mixin hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

@mixin btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 45px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  border-radius: 10px;
  color: $normalText;
  font-family: $default-font;
  border: 1px solid $titleTextTwo;
  background-color: #df9f7c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
